/* CSS reset */
body {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
	background-color: #eee;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}


/* Actual styling */
form {
	display: flex;
	justify-content: center;
    width: 100%;
}

form input {
	color: inherit;
	border: none;
    background-image:none;
    font-size: 1.2em;
    padding: 10px 0;
    box-sizing: border-box;
}

form input:focus { outline: none; }

.todo-input {
	background-color: #617fde;
	text-align: center;
	color: #324376;
	width: 80%;
	padding: 10px 10px 10px 20%;
}

.todo-input:focus { background: #617fdea0; }

::placeholder { color: rgba(43, 71, 158, .5); }

.add-task {
	cursor: pointer;
	background-color: #546CB6;
	color: #D8DCFF;
	width: 20%;
}

.add-task:hover {
	background-color: #4962AB;
}

.add-task:focus {
	background-color: #435A9D;
}


.todo-items {
	margin-top: 30px;
}

.todo-items li {
	border-radius: 5px;
	font-size: 1.1em;
	width: 500px;
	margin: 10px auto;
	color: #333;
}

.task {
	position: relative;
	cursor: pointer;
	background-color: #f6af32;
	border: 1px solid #D8DCFF;
	padding: 10px 40px;
}

.task.urgent {
	background-color: #d44b44;
}

.task:hover  {
	filter: invert(.2);
	text-decoration: line-through;
}

.all-done {
	display: none;
	text-align: center;
}
.all-done.show { display: block; }

.task span {
	position: absolute;
	left: 10px;
	display: none;
}

.task span svg {
	width: 20px;
}

.task:hover span {
	display: inline;
}


.error {
	color: red;
	text-align: center;
}
